@mixin WH($width, $height) {
  width: $width;
  height: $height;
}
@mixin MinWH($minWidth, $minHeight) {
  min-width: $minWidth;
  min-height: $minHeight;
}
@mixin apsolutePos($top, $right, $bottom, $left, $transform: false) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  @if $transform {
    transform: translate(-50%);
  }
}
@mixin commonFlex($flexF, $justifyC, $alignI) {
  display: flex;
  flex-flow: $flexF;
  justify-content: $justifyC;
  align-items: $alignI;
}
@mixin backgroundRS($bgSize) {
  background-repeat: no-repeat;
  background-size: $bgSize;
}
