@import "../base/commons.scss";
#fullpage {
  width: 100%;
  height: 100%;
  position: relative;
  .smTitle,
  .larTitle,
  .midTitle {
    text-align: center;
    font-weight: 600;
  }
  .smTitle {
    font-size: 1.25rem;
    line-height: 1.7;
  }
  .smGrey {
    color: #999999;
  }
  .larTitle {
    font-size: 2.875rem;
    line-height: 1.4;
  }
  .midTitle {
    font-size: 1.875rem;
  }
  .cardSection {
    flex-flow: column;
    width: 100%;
    display: flex;
    .card {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      @include WH(100vw, 100vh);
      .backImg {
        height: 100vh;
      }

      .titleBox {
        width: 100%;
        @include apsolutePos(50%, none, none, 50%, $transform: false);

        transform: translate(-50%, -60%);
        .padd {
          padding-bottom: 40px;
        }
        .recruitWrap {
          // width: 100%;
          // max-width: 1170px;

          .wrap {
            width: 400px;
            margin: 0 auto;
            text-align: center;
            padding-top: 40px;

            a {
              padding: 30px;
              background-color: #000000;
              border-radius: 40px;
              display: block;
              color: #ffffff;
              font-size: 20px;
              position: relative;
              transition: all 0.2s;
              font-weight: 700;
              &:hover {
                padding-left: 1px;
                transition: all 0.2s;
              }
              &:hover .select {
                right: 21px;

                transition: all 0.2s;
              }
              .select {
                @include apsolutePos(33px, 33px, none, none, false);
                transform: rotateZ(-90deg);
                color: white;
                -webkit-appearance: none;
                @include WH(18px, 12px);
                @include backgroundRS(14px 8px);
                background-image: url(/assets/images/icons/form-select-arrow-white.png);
              }
            }
          }
        }
      }
    }
    .section1,
    .section3,
    .section4 {
      color: white;
    }
    .section1 .backImg {
      background: url(../../images/innovation-background-image.jpg) no-repeat;
      background-position: center;
      background-size: cover;
    }
    .section2 .backImg {
      background: url(../../images/research-background-image.jpg) no-repeat;
      background-position: center;
      background-size: cover;
    }
    .section3 .backImg {
      background: url(../../images/family-background-image.jpg) no-repeat;
      background-position: center;
      background-size: cover;
    }
    .section4 .backImg {
      background: url(../../images/eco-background-image.jpg) no-repeat;
      background-position: center;
      background-size: cover;
    }
    .section5 .backImg {
      background: url(../../images/society-background-image.jpg) no-repeat;
      background-position: center;
      background-size: cover;
    }
    .section6 .backImg {
      background: url(../../images/story-background-image.jpg) no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .freeSection {
    padding: 160px 0;
    .container {
      .grow {
        padding-top: 160px;
        max-width: 1170px;
        margin: 0 auto;
        @include commonFlex(row, center, none);
        // flex-wrap: wrap;
        // gap: 20px;

        .growBox {
          @include WH(50%, 100%);
          position: relative;
          .circle {
            @include WH(80%, 0);
            position: relative;
            padding-bottom: 80%;
            background-color: #f8f8f8;
            border-radius: 80%;
            margin: 0 auto;
            .chart {
              @include apsolutePos(none, none, 11%, 50%, false);
              @include commonFlex(row, center, baseline);
              transform: translate(-50%, 0%);
              width: 80%;
              flex-wrap: nowrap;
              .left {
                .growBar {
                  background-color: #c8c8c8 !important;
                }
              }
              .bar {
                padding: 0 1.375rem;
                position: relative;
                p {
                  text-align: center;
                }

                .growRate {
                  @include apsolutePos(-6%, none, none, 0, false);
                  width: 100%;
                }
                .growBar {
                  @include WH(60px, 10px);
                  margin: 20px auto;
                  border-radius: 30px;
                  background-color: #000000;
                  transition: height 1.5s ease-in-out;
                }
                .blackBar {
                  height: 380px;
                }
                .category {
                  @include WH(100%, 100%);
                  overflow: hidden;
                  white-space: nowrap;
                }
              }
            }
          }
          .growDetail {
            @include WH(100%, auto);
            line-height: 1.6;
            padding-top: 40px;
          }
        }
        .industry {
          .circle {
            .chart {
              .left {
                .growBar {
                  transition: height 0.5s ease-in-out;
                }
                .industGreyBar {
                  height: 171px;
                }
              }
            }
          }
        }
        .value {
          .circle {
            .chart {
              .left {
                .growBar {
                  transition: height 0.5s ease-in-out;
                }
                .valueGreyBar {
                  height: 108px;
                }
              }
            }
          }
        }
      }
    }
    .opportunity {
      position: relative;
      padding: 120px 0 0;
      p {
        padding-top: 40px;
      }
      .grow {
        // gap: 70px;
        .growBox {
          .circle {
            position: relative;
            img {
              @include WH(100%, auto);
              margin: 0 auto;
            }
            strong {
              @include apsolutePos(50%, none, none, 50%, false);
              transform: translate(-140%, -9%);
              font-weight: 700;
              word-spacing: -3px;
            }
          }
        }
      }
      .oppoDetail {
        // @include apsolutePos(none, none, -40px, 50%, false);
        // transform: translate(-50%);
        padding-top: 40px;
        .standard {
          color: #000000;
          padding-top: 30px;
        }
      }
    }
  }
  .fixed {
    position: fixed;
  }
  #fixed {
    display: none;
    @include WH(100vw, auto);
    bottom: 0;
    background-color: white;
    left: 0;
    z-index: 1;

    .toTop {
      @include WH(90px, auto);
      position: fixed;
      bottom: 80px;
      right: 0;
      background-color: #4b4b4b;
      border: none;
      cursor: pointer;
      .select {
        @include apsolutePos(23px, none, none, 36px, false);
        @include WH(16px, 9px);

        background-repeat: no-repeat;
        background-size: 16px 9px;
        transform: rotateZ(180deg);
      }
      p {
        font-size: 18px;
        padding: 40px 0 30px;
        text-transform: uppercase;
        color: white;
        text-align: center;
      }
    }
    .select {
      @include WH(16px, 10px);
      @include backgroundRS(12px 7px);
      background-image: url(/assets/images/icons/form-select-arrow-white.png);
    }
    .recruitWrap {
      max-width: 1170px;
      height: 50px;
      @include commonFlex(none, space-between, center);
      margin: 15px auto;
      ul {
        // flex-wrap: wrap;
      }
      .recruit {
        letter-spacing: -0.09em;
        margin-right: 17px;
        strong {
          font-weight: 600;
        }
      }
      .leftArea {
        display: flex;
        .head {
          position: relative;
          font-size: 26px;
          padding-right: 40px;
          border-right: 1px solid #cccccc;
          margin-right: 40px;
        }
        li {
          .recruit {
            margin-right: 20px;
            line-height: 26px;
            &:not(.head) {
              font-size: 18px;
            }
          }
        }
      }
      .rightAria {
        display: flex;
        li {
          @include WH(240px, 50px);
          line-height: 50px;
          border-radius: 45px;
          text-align: center;
          border-color: #4b4b4b;
          background-color: #4b4b4b;
          &:hover .recruit {
            padding-right: 7px;
            transition: all 0.2s;
          }
          &:hover .recruit .ring {
            animation: ringMyBell 1s;
          }
          cursor: pointer;
          .recruit {
            font-size: 16px;
            color: white;
            position: relative;
            transition: all 0.2s;

            .select {
              @include apsolutePos(5px, -27px, none, none, false);
              transform: rotateZ(-90deg);
              color: white;
              -webkit-appearance: none;
            }
            .ring {
              @include WH(14px, 17px);
              @include apsolutePos(-9px, -20px, none, none, false);
              // background-color: red;
              -webkit-appearance: none;
              color: white;
              .insideRing {
                @include WH(14px, 17px);
                @include apsolutePos(12px, 0, none, none, false);
                @include backgroundRS(14px 17px);
                background-image: url(/assets/images/icons/label-ico-alarm-white.png);
              }
            }
          }
          &:last-child {
            margin-left: 40px;
          }
        }
      }
    }
  }
}
