@import "../base/commons.scss";

#header {
  &.headerFixed {
    z-index: 5;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @include WH(100%, 110px);
  @include apsolutePos(0, 0, 0, 0, $transform: false);
  z-index: 1;
  .deepMenuOn {
    @include WH(100%, 0);
    @include apsolutePos(110px, 0, 0, 0, $transform: false);
    background-color: white;
    transition: max-height 0.35s ease;
    overflow: hidden;
  }
  .headerWrap {
    max-width: 1170px;
    @include WH(100%, auto);
    @include apsolutePos(0, 0, 0, 50%, $transform: true);

    .logo {
      float: left;
      padding: 20px 0 36px;
      a {
        img {
          @include WH(364px, 50px);
          opacity: 1;
        }
      }
    }
    .navOnOff {
      display: none;
      @include WH(50px, 50px);
      @include apsolutePos(25px, 20px, none, none, false);
      background-color: black;
      border-radius: 100%;
      z-index: 301;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      &::before,
      &::after {
        content: "";
        background-color: #fff;
      }
      &::before {
        @include WH(25px, 4px);
        @include apsolutePos(18px, none, none, 12px, false);
      }
      &::after {
        @include WH(20px, 4px);
        @include apsolutePos(28px, none, none, 12px, false);
      }
    }
    .exit {
      background-color: #fff;
      &::before {
        transform: translateX(-50%) rotate(-45deg);
      }
      &::after {
        transform: translateX(-50%) rotate(45deg);
      }
      &::before,
      &::after {
        top: 23px;
        left: 50%;
        width: 30px;
        background-color: #000;
      }
    }
    .navWrap {
      float: right;
      .nav {
        float: left;
        padding: 50px 16px 45px;

        > a {
          font-weight: bold;
          font-size: 18px;
          color: #fff;
          padding: 45px 0 40px;
          position: relative;
          &::after {
            @include apsolutePos(none, none, 0, 50%, $transform: true);
            @include WH(0, 3px);
            content: "";
            background-color: #000;
          }
          &:hover::after {
            width: 100%;
            transition: width 0.25s linear;
          }
          .login {
            background-image: url(../../../resources/images/icons/nav-login-icon-white.png);
            background-repeat: no-repeat;
            padding-right: 22px;
            background-position: center right;
            background-size: 14px 14px;
          }
        }
      }
      .mtFam,
      .mtLife {
        &:hover .FamDeepMenu,
        &:hover .LifeDeepMenu {
          display: block;
        }

        .FamDeepMenu,
        .LifeDeepMenu {
          @include apsolutePos(110px, none, none, none, $transform: true);
          overflow: hidden;
          display: none;
          transition: opacity 0.2s ease;
          z-index: 1;
          li {
            float: left;
            a {
              font-size: 16px;
              font-weight: bold;
            }
          }
        }
        .FamDeepMenu {
          left: 67%;
          width: 1440px;
          li {
            padding: 35px 16px 52px;
          }
        }
        .LifeDeepMenu {
          left: 82%;
          width: 210px;
          li {
            padding: 35px 12px 52px;
          }
        }
      }
    }

    .MediaNavWrap {
      display: none;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: #000;
      z-index: 300;
      .wrap {
        position: relative;
        padding: 144px 20px;
        width: 100%;
        // height: 100vh;
        height: auto;
        background: black;

        .click {
          // padding: 18px 0;

          li {
            &:first-child {
              padding-top: 75px;
            }
            padding: 27px 0;
            a {
              font-size: 27px;
            }
          }
        }

        li {
          text-align: center;
          a {
            font-size: 45px;
            text-align: center;
            color: #fff;
          }
        }
        .firstNav {
          padding: 31.5px 0;

          .click {
            display: none;
          }
          .show {
            display: block;
          }
          .hide {
            display: none;
          }
          .FamilyDeepM {
          }
          .LifeDeepM {
          }
        }
      }
    }
  }
}
